@charset "UTF-8";
/*Variables*/
::-moz-selection {
  color: #fff;
  background: var(--color-3);
}
::selection {
  color: #fff;
  background: var(--color-3);
}

::-moz-selection {
  color: #fff;
  background: var(--color-3);
}

:root {
  --color-one: #ffffff;
  --color-2: #ffffff;
  --color-3: #00BF63;
  --card-height: 380px;
  --card-width: 250px;
}

@font-face {
  font-family: "gatwick";
  src: url("/font/gatwick-medium-webfont.woff") format("woff"), url("/font/gatwick-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 80px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 80px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.fond {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1000;
  background-color: #000000;
}

/*Général*/
* {
  scroll-behavior: smooth;
}

.lien:hover {
  color: var(--color-3);
}

br {
  content: "";
  margin-bottom: 1em;
}

.gras {
  font-weight: bold;
}

.vert {
  color: var(--color-3);
}

.vertglow {
  color: var(--color-3);
  text-shadow: 0 0 20px var(--color-3);
}

.glow {
  text-shadow: 0 0 20px #ffffff;
}

h2 {
  margin-top: 70px;
  margin-left: 1.5625rem;
  margin-bottom: 0;
}

body {
  font-family: "PT Sans Caption", sans-serif;
  text-decoration: none !important;
  color: var(--color-one);
}

/*effet de glassmorphisme*/
.effetverre {
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.096) 0%, rgba(255, 255, 255, 0) 126.32%);
  box-shadow: 0.3rem 0.6rem 0.6rem hsla(0, 0%, 0%, 0.35);
  border-radius: 0.3125rem;
  transition: box-shadow 0.3s;
  border: 0.0625rem solid rgba(255, 255, 255, 0.223);
  backdrop-filter: blur(0.3rem);
  -webkit-backdrop-filter: blur(0.3rem);
}
.effetverre:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

/*header*/
header {
  flex: 0 0 auto;
  position: relative;
  display: block;
  height: 9.375rem;
  top: 1.25rem;
  z-index: 2;
}

.drop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.3rem 0.6rem 0.6rem hsla(0, 0%, 0%, 0.35);
  border-radius: 0.5rem;
  transition: box-shadow 0.3s;
  position: fixed;
  margin: 0 auto;
  width: 75%;
  height: 70px;
  left: 0;
  right: 0;
  padding: 1.25rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.144);
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.171) 0%, rgba(255, 255, 255, 0) 126.32%);
  z-index: 9999999;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
}
.drop:hover {
  box-shadow: 0.5rem 1.5rem 1.5rem hsla(0, 0%, 0%, 0.25);
}

.sm2 {
  margin-top: -10px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 50px;
  left: 0;
  transition: color 1s, text-shadow 1s;
}
.sm2:hover {
  transition: color 1s, text-shadow 1s;
  color: var(--color-3);
  text-shadow: 0 0 20px var(--color-3);
}

.menulist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.liensmenu {
  margin-right: 20px;
  transition: color 0.3s;
  text-decoration: none;
  font-size: 25px;
  transition: color 1s, text-shadow 1s;
}
.liensmenu:hover {
  transition: color 1s, text-shadow 1s;
  color: var(--color-3);
  text-shadow: 0 0 20px var(--color-3);
}

/*Haut de page*/
.lelien {
  margin-left: 50px;
  margin-top: 10%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.moi {
  z-index: 0;
  width: auto;
  transform: scaleX(-1);
}

#circle {
  margin-left: -29px;
  margin-top: -50px;
  position: absolute;
  border-radius: 100%;
  padding: 16px;
  animation: rotate-animation 60s infinite linear;
}
#circle span {
  position: absolute;
  transform-origin: top left;
}

@keyframes rotate-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Compétences*/
.bigbigcontainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: -50px;
}

@keyframes compglide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2750px);
  }
}
.compcontainer {
  animation: compglide 20s linear infinite;
  animation-play-state: running;
  display: flex;
  width: 5500px;
}
.compcontainer:hover {
  animation-play-state: paused;
  transition: animation-play-state 1s;
}

.bigbigcontainer2 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 125px;
}

@keyframes compglide2 {
  0% {
    transform: translateX(-2250px);
  }
  100% {
    transform: translateX(0);
  }
}
.compcontainer2 {
  animation: compglide2 20s linear infinite;
  animation-play-state: running;
  display: flex;
  width: 4500px;
}
.compcontainer2:hover {
  animation-play-state: paused;
  transition: animation-play-state 1s;
}

.progressblock {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 200px;
  align-items: center;
  justify-content: center;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.144);
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0) 126.32%);
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);
  transition: transform 0.5s, text-shadow 0.5s;
}
.progressblock:hover {
  text-shadow: 0 0 10px var(--color-2);
  transform: scale(1.1);
  transition: transform 0.5s, text-shadow 0.5s;
}

/*Projets*/
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
.cardglow {
  width: var(--card-width);
  height: var(--card-height);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
  display: flex;
  font-size: 1.4em;
  color: rgba(88, 199, 250, 0);
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 1s;
}
.cardglow:after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 64);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #166840, #00BF63 43%, #b5cac0);
  animation: spin 7s linear infinite;
  opacity: 0;
  transition: opacity 1s;
}
.cardglow:hover {
  transform: scale(1.2);
  transition: transform 1s, color 1.5s, text-shadow 1.5s;
}
.cardglow:hover .projetgolmon {
  transform: scale(1.05);
  transition: transform 1s;
}
.cardglow:hover .cardtitle {
  color: var(--color-one);
  text-shadow: 0 0 20px var(--color-one);
  transition: color 1.5s, text-shadow 1.5s;
}
.cardglow:hover:after {
  opacity: 1;
  transition: opacity 1s;
}
.cardglow:hover #svgarrow {
  stroke: #ffffff;
  transition: stroke 1.5s;
}

.projetgolmon {
  margin-top: 5px;
  color: #ffffff;
  transition: transform 1s;
}

.cardtitle {
  color: var(--color-3);
  margin-top: 5px;
  text-shadow: 0 0 20px var(--color-3);
  transition: color 1.5s, text-shadow 1.5s;
}

.carddesc {
  padding-left: 7px;
  margin-top: -20px;
  font-size: 12px;
  text-align: left;
  font-weight: lighter;
}

.ekipimg {
  width: 200px;
  height: auto;
  margin-left: 20px;
}

.svgcontainer {
  margin-left: 170px;
  margin-top: -20px;
  display: inline-block;
}

#svgarrow {
  transition: stroke 1.5s;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
/*Projet en construction*/
.projetape {
  justify-content: space-evenly !important;
  text-align: center !important;
}

.projetape > .projetgolmon {
  margin-top: 5px;
  color: #ffffff;
  transition: transform 1s;
}

.cardtape {
  margin-left: -20px;
  width: 290px;
}

.projetwork > .svgcontainer {
  margin-left: 190px !important;
  margin-top: -20px;
  display: inline-block;
}

/*Organisation de la page et disposition*/
.mainsep {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: none;
}

main {
  flex: 1 0 auto;
  display: block;
  position: relative;
  top: 0;
  left: 10%;
  width: 80%;
  /*Timeline*/
}
main div.main-division {
  margin-left: 15px;
  padding: 1.25rem;
}
main div.rowcontainer {
  display: flex;
  flex-direction: row;
}
main div.rowlist {
  scroll-behavior: auto !important;
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
  height: auto;
}
main div.columncontainer {
  display: flex;
  flex-direction: column;
}
main div.timeline-container {
  position: relative;
  width: 100%;
  height: auto;
}
main div.timeline-container:before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 0.625rem;
  background: var(--color-3);
  box-shadow: 0 0 10px var(--color-3);
  border-radius: 40px;
}
main div.timeline-element {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 200px;
}
main div.timeline-element p {
  width: calc(50% - 6.25rem);
  padding: 1.25rem;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.096) 0%, rgba(255, 255, 255, 0) 126.32%);
  box-shadow: 0.3rem 0.6rem 0.6rem hsla(0, 0%, 0%, 0.35);
  border-radius: 1rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.223);
}
main div.timeline-element p:before {
  content: "";
  display: block;
  position: absolute;
  justify-content: center;
  height: 3.125rem;
  width: 3.125rem;
  background: linear-gradient(109.56deg, rgba(255, 255, 255, 0.175) 0%, rgba(255, 255, 255, 0) 126.32%);
  box-shadow: 0.3rem 0.6rem 0.6rem hsla(0, 0%, 0%, 0.35);
  border-radius: 0.3125rem;
  transition: box-shadow 0.3s;
  border: 0.0625rem solid rgba(255, 255, 255, 0.223);
  backdrop-filter: blur(0.3125rem);
  -webkit-backdrop-filter: blur(0.3125rem);
  border-radius: 0.625rem;
  top: 0rem;
}
main div.timeline-element2 {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 10px;
}
main div.timeline-left {
  right: 0;
}
main div.timeline-left p {
  position: absolute;
  display: flex;
  left: 0rem;
  justify-content: center;
  flex-direction: column;
}
main div.timeline-left p:before {
  right: -5.3125rem;
}
main div.timeline-right {
  left: 0;
}
main div.timeline-right p {
  position: absolute;
  display: flex;
  right: 0rem;
  justify-content: center;
  flex-direction: column;
}
main div.timeline-right p:before {
  left: -5.3125rem;
}

.iso {
  width: 25%;
  height: auto;
  width: auto;
  height: 400px;
}

.projetcontainer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  padding: 40px;
  flex-wrap: wrap;
  gap: 100px;
}

/*Tags*/
.tagcontainer {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
}

/*Boutons*/
a {
  text-decoration: none;
  color: var(--color-2);
}

button {
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  background: linear-gradient(to bottom right, var(--color-3), #00a656);
  transition: background-color 0.5s, box-shadow 0.5s, text-shadow 0.5s;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  width: 200px;
  padding: 5px;
  color: var(--color-2);
  margin: 1.25rem;
  box-shadow: 0px 0px 15px 1px var(--color-3);
  -webkit-box-shadow: 0px 0px 15px 1px var(--color-3);
}
button:hover {
  box-shadow: 0px 0px 15px 5px var(--color-3);
  -webkit-box-shadow: 0px 0px 15px 5px var(--color-3);
  text-shadow: 0 0 10px var(--color-2);
  background: linear-gradient(to bottom left, var(--color-3), #00a656);
}

/*Logo et texte d'introduction*/
.logo {
  justify-self: center;
  justify-content: center;
  margin-top: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  width: 100px;
  height: auto;
}

.logoimg {
  justify-self: center;
  justify-content: center;
  margin-top: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  width: 120px;
  height: 100px;
}

.texterandom {
  flex-direction: row !important;
  font-size: 50px;
  padding-right: 0.6rem;
}

/*Section de compétences et de projets*/
.stat {
  justify-self: center;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  margin-top: -15px;
}

.statblender {
  justify-self: center;
  width: 7.5rem;
  height: auto;
  margin-top: -15px;
}

.stathtml {
  justify-self: center;
  width: 7.5rem;
  height: 7.5rem;
  margin-top: -15px;
}

.web {
  width: auto;
  height: 380px;
  margin: 5px;
}

.web2 {
  width: auto;
  height: 290px;
  margin: 5px;
}

.desstitre {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-left: 10px;
  padding-right: 60px;
}

.desstitre2 {
  display: flex;
  flex-direction: column;
  margin-top: -45px;
  padding-left: 10px;
  padding-right: 60px;
}

.hide {
  opacity: 0;
  font-size: 0px;
}

/*Footer*/
.footer {
  font-size: 18px;
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 30px;
}

.sm {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: -5px;
}

.social {
  text-decoration: none;
  color: var(--color-2);
  transition: color 1s, text-shadow 1s;
}
.social:hover {
  transition: color 1s, text-shadow 1s;
  color: var(--color-3);
  text-shadow: 0 0 20px var(--color-3);
}

.inlogo {
  height: 18px;
  width: auto;
}

/*Popup*/
#snackbar {
  left: 43%;
  visibility: hidden;
  height: auto;
  width: 220px;
  color: var(--color-2);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 80px;
  background: linear-gradient(109.56deg, rgba(255, 255, 255, 0.252) 0%, rgba(255, 255, 255, 0) 126.32%);
  box-shadow: 0.3rem 0.6rem 0.6rem hsla(0, 0%, 0%, 0.35);
  border-radius: 0.3125rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.223);
  backdrop-filter: blur(0.3125rem);
  -webkit-backdrop-filter: blur(0.3125rem);
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}/*# sourceMappingURL=index.css.map */